**/.ipynb_checkpoints/
**/*.html
**/*.pdf
/session4_files
/public
/fmri-data
# Python bytecode (created when you run your functions)
__pycache__/
*.py[cod]
# Distribution / Build folders
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

